<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="lumia" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="lumia830" />
        <option name="url" value="193.112.214.43:3306" />
        <option name="userName" value="lumia" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="lumia" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="lumia830" />
          <option name="url" value="193.112.214.43:3306" />
          <option name="userName" value="lumia" />
        </NewDatabaseInfo>
      </list>
    </option>
  </component>
</project>